// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-item.pull-lg-right {
	margin-left: 10px;
}

i.favorite {
	cursor: pointer;
}

#search-form {
	margin-top: 5px;
	margin-bottom: 5px;

	input {
		margin-right: 5px;
		width: 820px;
	}
}

div#favorites {
	margin-top: 5px;
	border: 1px solid #99979c;
}